* {
	box-sizing: border-box;
	background-color: DarkSalmon;
	margin:0;
	padding: 0;

}

h1 {
	margin-top: 50px;
	margin-bottom: 100px; 
	font-size: 275%; 
	text-align: center;
}

.section {
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: Bisque;
	border: 1px black solid;
}

h2{
	float:right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width:50%;
	text-align: center;
	height:60px;
	overflow: auto;
	
}

p {
	font-family: Lucida;
	background-color: Bisque;
	padding: 30px;
	height: 250px;
	overflow: hidden;
	text-align: justify;
	clear:right;

}	
#head1 {
	background-color: DarkRed;
}
#head2 {
	background-color: DarkSlateBlue;
}
#head3 {
	background-color: MediumSlateBlue;
}

.row{
	width: 100%;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
	.ld-1 {
		margin-right: 15px;
		margin-left: 30px;
	}
	.ld-2{
		margin-right: 15px;
		margin-left: 15px;	
	} 
	.ld-3{
		margin-right: 30px;
		margin-left: 15px;	
	}

}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;

	}
	.col-md-12{
		width: 100%;
	}
	.md-1{
		margin-right: 15px;
		margin-left: 30px;
	
	}
	.md-2{
		margin-right:30px;
		margin-left: 15px;
	}
}

